<p>timer works!</p>

@if (this.setup()) {
<form [formGroup]="teamForm" (ngSubmit)="this.submitTeam()">
    <input type="text" formControlName="teamName" placeholder="Team Name" class="form-control mb-2" />
    <input type="text" formControlName="player1" placeholder="Player 1" class="form-control mb-2" />
    <input type="text" formControlName="player2" placeholder="Player 2" class="form-control mb-2" />

    <button type="submit" class="btn btn-primary">Add Team</button>
</form>

<button (click)="this.finishSetup()" class="btn btn-success mt-3">Finish Setup</button>
}
@else {
@if (this.timerService.getTimerStatus()) {
<button (click)="this.timerService.goodAnswer()" class="btn btn-primary">Bonne Réponse</button>
<button (click)="this.timerService.stopTimer()" class="btn btn-secondary">Pause</button>
}
@else {
<button (click)="this.timerService.startTimer()" class="btn btn-primary">Start Timer</button>
}
}

@for (team of this.timerService.teams; track team.id) {
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ team.name }}</h5>
        <p class="card-text">Players: {{ this.getPlayerNames(team) }}</p>
        <p class="card-text">Score: {{ team.score }}</p>
        <p class="card-text">Time: {{ this.formatTime(team.time) }}</p>
    </div>
</div>
}